.wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    height: 60px;
    background-color:white;
    border-bottom: 1px solid grey;
    position: fixed;
}

.title{
    height: 75%;
    margin-top: 0.5%;
    margin-left: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.title:hover{
    background-color: rgb(209, 203, 203);
    cursor: pointer;
}

.title p{
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 37px;
    padding: 5px;
    font-weight: 400;
}

.navigation{
    display: flex;
    justify-content: space-between;
    height: 75%;
    width: 20%;
    margin-right: 3%;
}

.navigation div{
    height: 100%;
    margin-top: 3%;
    /* margin: 2%; */
    padding-left: 5%;
    padding-right: 5%;
}

.navigation div:hover{
    background-color: rgb(209, 203, 203);
    cursor: pointer;
}

.navigation div p{ 
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 37px;
    padding: 5px;
    font-weight: 400;
}

.navigation div p a{
    color: black
}